<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ValidateSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
       
            <div class="nav-wrapper">
                <div class="grad-bar"></div>
                <nav class="navbar">
                    <img src="https://validateme.online/wp-content/uploads/2019/10/validateme-logo.png"
                         alt="Company Logo" />
                    <div class="menu-toggle" id="mobile-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="nav no-search">
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-page="/ValidateSitePage/Index"></a></li>
                    <li class="nav-item"><a asp-page="/ValidateSitePage/Index">Home</a></li>
                    <li class="nav-item price"><a href="#service">Service</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
